
<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">
        <!-- Preloader -->
        <div class="loader-wrap">
            <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>        
            <div class="layer layer-three"><span class="overlay"></span></div>        
        </div>


       


        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="assets/images/logo-2.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->


        <!-- banner-section -->
        <section class="banner-style-one">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-1.png);"></div>
            <div class="banner-carousel owl-theme owl-carousel">
                <div class="slide-item">
                    <div class="auto-container">
                        <div class="content-inner">
                            <div class="content-box">
                                <h1>Up To <br /><span>50%</span> Discount</h1>
                                <h3>Summer Lookbook - 2020</h3>
                                <p>New Modern Stylist Fashionable Men's Wear Jeans Shirt.</p>
                                <div class="btn-box">
                                    <a href="index.html" class="theme-btn-one">Explore Now<i class="flaticon-right-1"></i></a>
                                </div>
                            </div>
                            <figure class="image-box image-1"><img src="assets/images/banner/banner-image-1.png" alt=""></figure>
                        </div> 
                    </div>
                </div>
                <div class="slide-item">
                    <div class="auto-container">
                        <div class="content-inner">
                            <div class="content-box">
                                <h1>Up To <br /><span>50%</span> Discount</h1>
                                <h3>Summer Lookbook - 2020</h3>
                                <p>New Modern Stylist Fashionable Men's Wear Jeans Shirt.</p>
                                <div class="btn-box">
                                    <a href="index.html" class="theme-btn-one">Explore Now<i class="flaticon-right-1"></i></a>
                                </div>
                            </div>
                            <figure class="image-box image-2"><img src="assets/images/banner/banner-image-2.png" alt=""></figure>
                        </div> 
                    </div>
                </div>
                <div class="slide-item">
                    <div class="auto-container">
                        <div class="content-inner">
                            <div class="content-box">
                                <h1>Up To <br /><span>50%</span> Discount</h1>
                                <h3>Summer Lookbook - 2020</h3>
                                <p>New Modern Stylist Fashionable Men's Wear Jeans Shirt.</p>
                                <div class="btn-box">
                                    <a href="index.html" class="theme-btn-one">Explore Now<i class="flaticon-right-1"></i></a>
                                </div>
                            </div>
                            <figure class="image-box imgae-3"><img src="assets/images/banner/banner-image-3.png" alt=""></figure>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->

        <!-- topcategory-section -->
         <section class="topcategory-section centred">
            <div class="auto-container">
                <div class="four-item-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                    {{#each categories}}
                    <div class="category-block-one">
                        <figure class="image-box"><img src="{{this.img}}" alt=""></figure>
                        <h5><a href="index.html">{{this.name}}</a></h5>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
        <!-- topcategory-section end -->


        <!-- shop-section -->
        <section class="shop-section">
            <div class="auto-container">
                <div class="sec-title">
                    <h2>Our Top Collection</h2>
                    <p>There are some product that we featured for choose your best</p>
                    <span class="separator" style="background-image: url(assets/images/icons/separator-1.png);"></span>
                </div>
                <div class="sortable-masonry">
                    <div class="filters">
                        <ul class="filter-tabs filter-btns centred clearfix">
                            {{#each categories}}
                            <li class=" filter" data-role="button" data-filter=".{{this.slug}}">{{this.name}}</li>
                            {{!-- <li class="filter" data-role="button" data-filter=".new_arraivals">New Arraivals</li>
                            <li class="filter" data-role="button" data-filter=".top_rate">Top Rate</li> --}}
                            {{/each}}
                        </ul>
                    </div>
                    <div class="items-container row clearfix">
                        {{#each produces}}
                        <div style=" display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 300px;
                                    height: 300px;
                                    overflow: hidden;"  
                            class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column {{this.category.slug}}">
                            <div class="shop-block-one">
                                <div class="inner-box">
                                    <figure style="width: 250px;" class="image-box">
                                        <img style="width: 100%;height: 100%;object-fit: cover;" src="{{this.img}}" alt="">
                                        <ul class="info-list clearfix">
                                            <li><a href="index.html"><i class="flaticon-heart"></i></a></li>
                                            <li><a data-id="{{this._id}}" id="addToCart">Thêm vào giỏ hàng</a></li>
                                            <li><a href="" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-search"></i></a></li>
                                        </ul>
                                    </figure> <br>
                                    <div class="lower-content">
                                        <a href="http://localhost:3000/produce-detail/{{this.slug}}">{{this.name}}</a>
                                        <span 
                                        style="color: #ff5b6a;
                                            font-weight: 700;
                                            font-size: 25px;
                                            line-height: 100%;
                                            margin-bottom: 5px;"
                                        class="price">{{ formatCurrencyVND this.priceOld}}</span>
                                        <span  
                                        style="margin-bottom: 0;
                                            background: url(https://www.lotteria.vn/grs-static/images/icon-discount.svg) no-repeat;
                                            padding-left: 24px;
                                            min-height: 20px;"
                                        class="price"> <del>{{ formatCurrencyVND this.price}}</del> 
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
                <div class="more-btn centred"><a href="shop.html" class="theme-btn-one">View All Products<i class="flaticon-right-1"></i></a></div>
            </div>
        </section>
        <!-- shop-section end -->


        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-long-arrow-alt-up"></i>
        </button>
    </div>


 
</body><!-- End of .page_wrapper -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var btnAddToCart = document.querySelectorAll("#addToCart")
          btnAddToCart.forEach(button => {
        button.addEventListener('click', (event) => {
          var id = event.target.getAttribute('data-id');
           var data = {
            produceId : id,
            quantity  : 1 
            } 
        $.ajax({
                url: '/cart',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(res) {
                    
                    toastr.success('Thêm sản phẩm vào giỏ hàng thành công');
                },
                error: function(xhr) {
                    let errorMessage = 'An error occurred';
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                    errorMessage = xhr.responseJSON.message;
                    }
                    toastr.error(errorMessage, 'Lỗi');
                }
        });
    })
          })
    })
</script>