<body>
    
      <!-- page-title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>{{produce.name}}</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="/">Home</a></li>
                        <li>{{produce.name}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->

          <!-- product-details -->
        <section class="product-details product-details-1">
            <div class="auto-container">
                <div class="product-details-content">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <figure class="product-image">
                                <img src="{{produce.img}}" alt="">
                                <a href="{{produce.img}}" class="lightbox-image"><i class="flaticon-search-2"></i></a>
                            </figure>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="product-info">
                                <h3>{{produce.name}}</h3>
                                <div class="customer-review clearfix">
                                    <ul class="rating-box clearfix">
                                        <li><i class="flaticon-star"></i></li>
                                        <li><i class="flaticon-star"></i></li>
                                        <li><i class="flaticon-star"></i></li>
                                        <li><i class="flaticon-star"></i></li>
                                        <li><i class="flaticon-star"></i></li>
                                    </ul>
                                    <div class="reviews"><a href="product-single.html">(5 Reviews)</a></div>
                                </div>
                                <span  
                                style="margin-bottom: 0;
                                        background: url(https://www.lotteria.vn/grs-static/images/icon-discount.svg) no-repeat;
                                        padding-left: 24px;
                                        min-height: 20px;"
                                class="item-price"> <del>{{ formatCurrencyVND produce.price}}</del></span>
                                <span  
                                style="color: #ff5b6a;
                                            font-weight: 700;
                                            font-size: 25px;
                                            line-height: 100%;
                                            margin-bottom: 5px;" 
                                class="item-price"> {{formatCurrencyVND produce.priceOld}} </span>

                                <div  class="text">
                                    <p>{{produce.description}}</p>
                                </div>
                                <div class="othre-options clearfix">
                                    <div class="item-quantity">
                                        <input class="quantity-spinner" id="quantity" type="number" value="1" name="quantity">
                                    </div>
                                    <div class="btn-box"><button type="button" id="addToCart" data-id="{{produce._id}}" class="theme-btn-two">Thêm vào giỏ hàng</button></div>
                                    <ul class="info clearfix">
                                        <li><a href="product-details.html"><i class="flaticon-heart"></i></a></li>
                                        <li><a href="product-details.html"><i class="flaticon-search"></i></a></li>
                                    </ul>
                                </div>
                                <ul class="share-option clearfix">
                                    <li><h5>Follow Us:</h5></li>
                                    <li><a href="shop-details.html"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-discription">
                    <div class="tabs-box">
                        <div class="tab-btn-box">
                            <ul class="tab-btns tab-buttons clearfix">
                                <li class="tab-btn active-btn" data-tab="#tab-1">Description</li>
                                <li class="tab-btn" data-tab="#tab-2">Reviews(1)</li>
                            </ul>
                        </div>
                        <div class="tabs-content">
                            <div class="tab active-tab" id="tab-1">
                                <div class="text">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla mco laboris nisi ut aliquip ex ea commodo consequat. duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesc iunt. neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                </div>
                            </div>
                            <div class="tab" id="tab-2">
                                <div class="review-box">
                                    <h5>1 Review for Multi-Way Ultra Crop Top</h5>
                                    <div class="review-inner">
                                        <figure class="image-box"><img src="assets/images/resource/review-1.png" alt=""></figure>
                                        <div class="inner">
                                            <ul class="rating clearfix">
                                                <li><i class="flaticon-star"></i></li>
                                                <li><i class="flaticon-star"></i></li>
                                                <li><i class="flaticon-star"></i></li>
                                                <li><i class="flaticon-star"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                            </ul>
                                            <h6>Eileen Alene <span>- May 1, 2020</span></h6>
                                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa  qui officia deserunt mollit anim  est laborum. Sed perspiciatis unde omnis natus error sit voluptatem accusa dolore mque laudant totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi arch tecto beatae vitae dicta.</p>
                                        </div>
                                    </div>
                                    <div class="replay-inner">
                                        <h5>Be First to Review For “Multi-Way Ultra Crop Top”</h5>
                                        <div class="rating-box clearfix">
                                            <h6>Your Rating</h6>
                                            <ul class="rating clearfix">
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                            </ul>
                                        </div>
                                        <form action="contact.html" method="post" class="review-form">
                                            <div class="row clearfix">
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                    <label>Your Review</label>
                                                    <textarea name="message"></textarea>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                                    <label>Your Name</label>
                                                    <input type="text" name="name" required="">
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                                    <label>Your Emai</label>
                                                    <input type="email" name="email" required="">
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control material-checkbox">
                                                            <input type="checkbox" class="material-control-input">
                                                            <span class="material-control-indicator"></span>
                                                            <span class="description">Save my name, email, and website in this browser for the next time I comment</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                                    <button type="submit" class="theme-btn-two">Submit Your Review<i class="flaticon-right-1"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product-details end -->
</body>
<script>
    const btnAddToCart = document.querySelector("#addToCart")
    const produceId = btnAddToCart.getAttribute("data-id")


  btnAddToCart.onclick = function(){
        var data = {
            produceId : produceId,
            quantity  : Number(document.querySelector("#quantity").value) 
        }
    console.log(data)
     $.ajax({
          url: '/cart',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(data),
          success: function(res) {
            
            toastr.success('Thêm sản phẩm vào giỏ hàng thành công');
          },
          error: function(xhr) {
            let errorMessage = 'An error occurred';
            if (xhr.responseJSON && xhr.responseJSON.message) {
              errorMessage = xhr.responseJSON.message;
            }
            toastr.error(errorMessage, 'Lỗi');
          }
        });
       }
</script>